@charset "utf-8";

body > div {
  width: 100% !important;
}
body > div form {
  width: 100% !important;
  padding: 0 !important;
  overflow: unset !important;
}
body > div form > div > div {
  width: 100% !important;
  padding: 0 !important;
}
body > div form > div > label {
  float: none !important;
}

body input {
  width: 100% !important;
  width: 100%;
  height: 38px;
  border: 1px solid #d6dce0;
  border-radius: 3px;
  padding: 5px 8px;
  box-sizing: border-box;
  line-height: 26px;
  font-family: 'Helvetica', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 16px;
  color: #8897ac;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}